.section-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-header-text-main{
  font-family: "Metropolis";
  font-size: var(--font-size-large);
  text-transform: uppercase;
  letter-spacing: 10%;
  color: var(--font-color-green);
  font-weight: 800;
  margin: 0;
}

.section-header-text-sub{
  white-space: pre-wrap;
  font-family: "Metropolis";
  font-size: 2rem;
  font-weight: 800;
  margin: 25px 0 0 0;
}


@media screen and (max-width: 480px) {

  .section-header{
    width: 100%;
  }

  .section-header-text-main{
    font-size: 2rem;
  }

  .section-header-text-sub{
    margin: 1rem 0 0 0;
    font-size: 1rem;
    white-space: normal;
  }
}
  
  
  