.intro-section{
    height:90vh;
    color: var(--font-color-black);
    padding: 3rem 3rem 3rem 3rem;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr;
} 

.hero-content{
    /* z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%); */
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-canvas{
    max-width: 100%;
    max-height: 100%;
}
  

.hero-header{
    text-wrap: nowrap;
    margin: 0;
    font-family: 'Metropolis';
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 600 ;
}

.hero-subheader{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--font-color-green);

    text-decoration: none;
    font-family: "Konkhmer Sleokchher";
}


.passion-text{
    transition: opacity 0.5s cubic-bezier(.55,.085,.68,.53);
}

.text-fade-in{
    opacity: 1;
}

.text-fade-out{
    opacity: 0;
}
