.intro-section{
    height: 90vh;
    color: var(--font-color-black);
    padding: 3rem 3rem 3rem 3rem;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    grid-template-rows: 1fr;
} 

.hero-content{
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-header{
    text-wrap: nowrap;
    margin: 0;
    font-family: 'Metropolis';
    font-size: clamp(1rem, 5vw, 3rem);
    font-weight: 800 ;
}

.hero-subheader{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--font-color-green);

    text-decoration: none;
    font-family: "Konkhmer Sleokchher";
}


.passion-text{
    transition: opacity 0.5s cubic-bezier(.55,.085,.68,.53);
}

.text-fade-in{
    opacity: 1;
}

.text-fade-out{
    opacity: 0;
}


@media (max-width: 480px){
    .intro-section{
        padding: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .hero-canvas{
        position: relative;
        width: 100vw;
        flex: 2;
    }

    .hero-content{
        max-height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        flex: 1;
    }

    .hero-header{
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        text-wrap: nowrap;
        margin: 0;
        font-family: 'Metropolis';
        font-size: 1.8rem;
        font-weight: 800 ;
    }

    .passion-text{
        transition: opacity 0.5s cubic-bezier(.55,.085,.68,.53);
    }
    
    .text-fade-in{
        opacity: 1;
    }
    
    .text-fade-out{
        opacity: 0;
    }
}