.intro-section{
    color: var(--font-color-black);
    padding: 3rem;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;
} 

.hero-content{
    /* z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%); */
    max-height: 100%;
    display: flex;
    align-items: center;
}

.hero-canvas{
    max-width: 100%;
    max-height: 100%;
}
  

.hero-header{
    margin: 0;
    font-family: 'Metropolis';
    font-size: 3rem;
    font-weight: 600 ;
}

.hero-subheader{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--font-color-green);

    text-decoration: none;
    font-family: "Konkhmer Sleokchher";
}


