.projects-section{
    padding: 4rem 8rem 0 8rem;
    display:flex;
    flex-direction: column;
}

.projects-intro-text{
    font-size: 7rem;
    font-family: "Metropolis";
    text-transform: uppercase;
    z-index: 100;
}

.project-navigation-button{
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius:50px;
}

.projects-content{
    height: 100%;
    margin: 6rem 0 4rem 4rem;
}

.project-item{
    margin-bottom: 10rem;
    width: 100%;
    display: flex;
}

.project-info{
    flex:1;
    display: flex;
    flex-direction: column;
}

.project-title, .project-tools, .project-description{
    font-family: "Konkhmer Sleokchher";
}

.project-tools, .project-description{
    color: #939393
}

.project-description{
    width: 25rem
}

.project-title{
    display: flex;
    align-items: center;
    font-weight: 800;
}

.project-title > img{
    margin-left: 20px;
}


.project-image-container{
    flex:1;
    display: flex;
    justify-content: center;
}

.project-image{
    transition: transform ease .2s;
    border-radius: 15px;
    height: 25rem;
    width: 35rem;
}

.project-image:hover{
    transform: scale(1.1);
}

.github-icon{
    height: 2rem;
    width: 2rem;
}  

@media screen and (max-width: 900px){
    .projects-section{
        margin-top: 2rem;
        align-items: center;
        padding: 0 2rem 0 2rem;
    } 

    .projects-content{
        margin: 4rem 0 0 0;
        max-width: 100%;
        display:flex;
        flex-direction: column;
    }


    .project-item{
        margin-bottom: 4rem;
        flex-direction: column;
    }

    .project-title > h1{
        font-size: .9rem;
        margin: 0;
    }

    .project-tools > p, .project-description > p {
        font-size: .7rem
    }

    .project-description{
        width: 100%;
    }

    .project-image-container{
        margin-top: 1rem;
    }

    .project-image{
        height: 15rem;
        width: 25rem;
    }

    .github-icon{
        height: 1.3rem;
        width: 1.3rem;
    }
}