.projects-section{
    padding: 50px 180px 50px 180px;
    display:flex;
    flex-direction: column;
}

.projects-intro{
    background-color:#6DEAD7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
}

.projects-intro-text{
    font-size: 7rem;
    font-family: "Metropolis";
    text-transform: uppercase;
    z-index: 100;
}

.project-navigation-button{
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius:50px;
}

.projects-content{
    height: 100%;
    margin: 25px 0 50px 50px;
    /* display:grid;
    grid-template-columns: .8fr 1.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    gap: 100px 0px;  */
}

.project-item{
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    
}

.project-info{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-title, .project-tools, .project-description{
    font-family: "Konkhmer Sleokchher";
}

.project-tools, .project-description{
    color: #939393
}

.project-description{
    width: 500px
}

.project-title{
    display: flex;
    align-items: center;
    font-weight: 800;
}

.project-title > img{
    margin-left: 20px;
}


.project-image{
    width: 740px;
    height: 580px;
    flex:1;
    display: flex;
    justify-content: center;
}

.github-icon{
    height: 2rem;
    width: 2rem;
}  