.projects-section{
    min-height: 100vh;
    padding: 5rem 6rem 5rem 6rem;
    display:flex;
    flex-direction: column;
}

.projects-intro{
    background-color:#6DEAD7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
}

.projects-intro-text{
    font-size: 7rem;
    font-family: "Metropolis";
    text-transform: uppercase;
    z-index: 100;
}


.project-header{
    display: flex;
    flex-direction: column;
    padding: 50px 0 50px 0;
}

.projects-header-text-main{
    font-family: "Metropolis";
    font-size: var(--font-size-large);
    text-transform: uppercase;
    letter-spacing: 10%;
    color: var(--font-color-green);
    font-weight: 800;
    margin: 0;
}

.projects-header-text-sub{
    font-family: "Metropolis";
    font-size: 2rem;
    font-weight: 800;
    margin-top: 1.2rem;
}


.project-navigation-button{
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius:50px;
}

.projects-content{
    height: 100%;
    margin-top: 50px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    gap: 100px 0px; 
}

.project-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 5rem;
}

.project-title, .project-tools, .project-description{
    font-family: "Konkhmer Sleokchher";
}

.project-tools, .project-description{
    color: #939393
}

.project-title{
    font-weight: 800;
}


.project-image{
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes slide-in {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }
  