.about-section{
    margin-top: 2rem;
    min-height: 100vh;
    padding: 4rem 8rem 0 8rem;
}

.about-content{
    margin-top: 50px;
    display: flex;
}

.experiences{
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
    grid-auto-flow: row;
}

.experience-item > h1 {
    margin: 0;
}

.experience-item-header{
    font-family: "Metropolis";
    font-weight: 800;
    color: var(--font-color-green);
}
.experience-item-subheader{
    font-family: "Konkhmer Sleokchher";
    color: var(--font-color-black);
}

.personal-photo{
    height: 35rem;
}

@media (max-width: 480px){
    .about-section{
        margin-top: 2rem;
        align-items: center;
        padding: 3rem 2rem 0 2rem;
    }

    .about-content{
        display:flex;
        flex-direction: column;
    }

    .experience-item{
        margin-bottom: 2rem;
    }

    .experience-item-header{
        font-size: .9rem;
    }

    .experience-item-subheader{
        font-size: .7rem;
    }
}
