@font-face {
  font-family: "Konkhmer Sleokchher" ;
  src: url("./render/assets/fonts/KonkhmerSleokchher-Regular.ttf");
}

@font-face{
  font-family: "Metropolis";
  src: url("./render/assets/fonts/Metropolis-Regular.otf");
  font-weight: normal;
}

@font-face{
  font-family: "Metropolis";
  src: url("./render/assets/fonts/Metropolis-Bold.otf");
  font-weight: bold;
}


@font-face {
  font-family: "Metropolis";
  src: url("./render/assets/fonts/Metropolis-ExtraBold.otf");
  font-weight: 800;
}


:root{
  --background-color: #ffffff;
  --font-color-white: #e8edf3;
  --font-color-black: #111;
  --font-color-green: #45CB85;
  --font-family: 'Segoe UI', sans-serif;
  --font-size-small: 1rem;
  --font-size-medium: 1.3rem;
  --font-size-large: 3rem;

  background-color: var(--background-color);
}

body{
  font-family: var(--font-family);
  color: var(--font-color-black);
  margin: 0;
  /* min-height: 300vh; */
}

.personal-logo{
  height: 4rem;
}

.intro-section, .about-section {
  height: 100vh;
}

.project-section , .experiments-section{
  min-height: 100vh;
}

.spacer{
  height: 200px;
}

.section-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-header-text-main{
  font-family: "Metropolis";
  font-size: var(--font-size-large);
  text-transform: uppercase;
  letter-spacing: 10%;
  color: var(--font-color-green);
  font-weight: 800;
  margin: 0;
}

.section-header-text-sub{
  font-family: "Metropolis";
  font-size: 2rem;
  font-weight: 800;
  margin: 25px 0 0 0;
}



.personal-photo{
  --photo-size: 150px;
  border-radius: 50%;
  height: var(--photo-size);
  width: var(--photo-size);
}

