@font-face {
  font-family: "Konkhmer Sleokchher" ;
  src: url("./render/assets/fonts/KonkhmerSleokchher-Regular.ttf");
}

@font-face{
  font-family: "Metropolis";
  src: url("./render/assets/fonts/Metropolis-Regular.otf");
  font-weight: normal;
}

@font-face{
  font-family: "Metropolis";
  src: url("./render/assets/fonts/Metropolis-Bold.otf");
  font-weight: bold;
}


@font-face {
  font-family: "Metropolis";
  src: url("./render/assets/fonts/Metropolis-ExtraBold.otf");
  font-weight: 800;
}


:root{
  --background-color: #ffffff;
  --font-color-white: #e8edf3;
  --font-color-black: #111;
  --font-color-green: #45CB85;
  --font-family: 'Segoe UI', sans-serif;
  --font-size-small: 1rem;
  --font-size-medium: 1.3rem;
  --font-size-large: 3rem;

  background-color: var(--background-color);
}

body{
  height: 100vh;
  font-family: var(--font-family);
  color: var(--font-color-black);
  margin: 0;
}

.spacer{
  height: 200px;
}
